.hero-section {
  background: radial-gradient(circle at 30% center, #111 0%, #000 100%);
  color: white;
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}


.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1400px;
  margin: auto;
  position: relative;
}





.hero-text {
  max-width: 600px;
  z-index: 2;
}


.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}


.hero-text h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #ccc;
}



.hero-text p {
  font-size: 18px;
  line-height: 1.6;
  color: #bbb;
}




.hero-text .highlight {
  color: #ffd700;
  font-weight: bold;
}



.hero-text .hero-button {
  margin-top: 30px;
  padding: 14px 28px;
  font-size: 16px;
  background: linear-gradient(135deg, #ffd700, #ffbf00);
  border: none;
  border-radius: 30px;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  box-shadow: 0 4px 20px rgba(255, 215, 0, 0.3);
  transition: transform 0.2s ease;
}


.hero-text .hero-button:hover {
  transform: translateY(-2px);
}


.hero-image-wrapper {
  position: relative;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero-img {
  position: relative;
  width: 420px;
  z-index: 1;
}

