.input-section {
    position: relative;
    padding: 60px 20px;
    background: linear-gradient(90deg, #1a1a1a 0%, #f7ca61 100%);
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  



  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    position: relative;
    z-index: 2;
    gap: 60px;
    flex-wrap: wrap;
  }


  
  .input-card {
    background: #fff;
    padding: 35px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  


  .input-card h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
    color: #000;
  }


  
  .input-card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }
  


  .input-card input {
    padding: 10px 75px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 15px;
    outline: none;
    transition: border 0.2s ease;
  }
  


  .input-card input:focus {
    border-color: #f7ca61;
  }
  


  .input-card button {
    padding: 12px;
    background-color: #f7ca61;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background 0.3s ease;
  }


  
  .input-card button:hover {
    background-color: #ffdb75;
  }
  
  .input-text {
    flex: 1;
    min-width: 300px;
  }
  
  .input-text h2 {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
  }


  
  .input-text h2 span {
    color: #1a1a1a;
  }
  
  .input-text p {
    font-size: 16px;
    color: #2a2a2a;
    line-height: 1.6;
  }
  
  .arrow-icon {
    margin-top: 20px;
    color: #000;
    font-size: 70px;        
    transform: scaleX(7.6); 
  }
  

  
  
  .input-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    pointer-events: none;
    object-fit: cover;
    opacity: 0.15;
  }
  