.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f0f11;
    padding: 12px 30px;
    color: white;
    font-family: sans-serif;
  }



  
  .navbar-logo {
    display: flex;
    align-items: center;
    font-weight: bold;

    font-size: 18px;
    color: #d4af37;
  }
  
  .logo-icon {
    font-size: 20px;
    margin-right: 8px;
  }
  



  
  .navbar-menu {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 14px;
    padding: 0;
    margin: 0;
  }

  
  .navbar-menu li {
    cursor: pointer;
    transition: color 0.3s;
  }
  

  .navbar-menu li:hover {
    color: #d4af37;
  }
  



  .navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
  }


  
  .lang-flag {
    width: 24px;
    height: auto;
    border-radius: 3px;
  }
  


  .account-btn {
    background: linear-gradient(90deg, #c5a253, #f5e2a9);
    color: black;
    border: none;
    border-radius: 20px;
    padding: 6px 16px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }
  

  
  .user-icon {
    font-size: 18px;
  }
  